# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Build
dist
build
.next
out
.turbo

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# TypeScript
*.tsbuildinfo

# Prisma
prisma/*.db
prisma/migrations

# System Files
.DS_Store
Thumbs.db

# Vite
*.local

# Testing
/coverage
/.nyc_output

# Production
/build

# Temporary files
.temp
.tmp
.cache

# PM2
ecosystem.config.js.bak

# Misc
*.pem
.eslintcache
.vercel
